/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

#post_data__content h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

#post_data__content >h2{
  font-size: 1.4rem;
  padding-bottom: 0.8rem;
}
#post_data__content >h3{
  font-size: 1.2rem;
  padding-bottom: 0.6rem;
}

#post_data__content p {
  line-height: 2rem;
  letter-spacing: normal;
  word-spacing: normal;
  word-break: keep-all;
  font-size: 1rem;
}

#post_data__content p strong {
  line-height: 2rem;
  letter-spacing: normal;
  word-spacing: normal;
  word-break: keep-all;
  font-size: 1.2rem;
  
}

#post_data__content blockquote {
  border-left: 5px solid #888;
  margin: 10px;
  padding: 10px;
  background-color: whitesmoke;
}

#post_data__content pre {
  font-family: "monospace",  "Courier";
  font-size: 1rem;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background-color:rgb(251, 252, 253);
  border-radius: 10px;
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#post_data__content pre>code {
  margin: 0.5rem;
  padding: 1rem 1rem;
  border-radius: 4px;
  position: relative;
  font-family: "monospace",  "Courier";
  display: block;
  overflow-x: auto;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #777;
  font-weight: 300;
}

/* List Styling */
#post_data__content ol {
  padding: 1rem 0;
}

#post_data__content li {
  padding: 5px 0px 5px 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #efefef;
  font-size: 0.8rem;
}
#post_data__content li:first-child {
  border-top: 1px solid #efefef;
  padding-top: 10px;
}

#post_data__content li::before {
  content: "☑";
  display: inline-block;
  vertical-align: middle;
  padding: 0px 5px 6px 0px;
}

#post_data__content s {
  color: #333;
}

#post_data__content img {
  margin: 2.5rem 0;
  height: 400px;
}

#post_data__content hr {
  margin: 1rem 0;
}

.utterances {
  max-width: 80% !important;
}